<mat-card>
  <mat-list>
    <ng-container *ngFor="let challenge of challenges$ | async; let i = index; let last = last">
      <mat-list-item>
          <div class="item-grid">
              <div>{{ challenge.factorA }}</div>
              <div>{{ challenge.factorB }}</div>
              <div>{{ challenge.guess }}</div>
          </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>

  <div class="filter-actions">
    <button mat-stroked-button (click)="setFilter('all')">All</button>
    <button mat-stroked-button (click)="setFilter('wrong')">Wrong</button>
    <button mat-stroked-button (click)="setFilter('successful')">successful</button>
  </div>
</mat-card>
